<footer id="shopify-section-sections--21965298008405__footer"
    class="shopify-section shopify-section-group-footer-group footer__parent">
    <div class="footer" data-section-id="sections--21965298008405__footer" data-section-type="footer" style="
    --color-background-input: rgba(255, 255, 255, 0.2);
    --color-background-input-hover: rgba(255, 255, 255, 0.25);
    --color-background-input-hover-dull: rgba(255, 255, 255, 0.1);
    --color-background-input-highlight: rgba(255, 255, 255, 0.35);
    --color-text-input: rgba(255, 255, 255, 0.95);
  ">
        <div class="footer__inner">
            <div class="footer__groups">

                <div class="
            footer__group
            footer__group--text
            footer__group--1
            
            footer__group--first
            
            hide-title-on-desktop
          " style="
            --desktop-width: 40%;
            --desktop-padding: 0%;
            --image-max-width: 50px
          ">
            <hr class="footer__rule">
            <div class="footer__credits fs-body-x-small">
                <p>Copyright © 2025, <a href="https://clindoeilbeaute.ca/" title="">Clin d'oeil beauté</a>.</p>
            </div>
        </div>
    </div>
</footer>