<!DOCTYPE html>

<html class="" lang="fr" style="--announcement-height: 48px; --height-header: 175px;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="./assets/theme.css" rel="stylesheet" type="text/css" media="all">
    <link href="./assets/custom.css" rel="stylesheet" type="text/css" media="all">
    <link rel="alternate" hreflang="x-default" href="https://clindoeilbeaute.ca/">
    <link rel="alternate" hreflang="fr-FR" href="https://clindoeilbeaute.ca/">
</head>
<body class="template-index header-sticky" data-enable-page-transitions="true" data-enable-reveal-animations="false"
  data-show-secondary-image-on-hover="true">
    {% include header.html %}
    
    <main>
        {{ content }}
    </main>
    
    {% include footer.html %}
</body>
</html>