<!DOCTYPE html>

<html class="" lang="fr" style="--announcement-height: 48px; --height-header: 175px;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="./assets/theme.css" rel="stylesheet" type="text/css" media="all">
    <link href="./assets/custom.css" rel="stylesheet" type="text/css" media="all">
    <link rel="alternate" hreflang="x-default" href="https://clindoeilbeaute.ca/">
    <link rel="alternate" hreflang="fr-FR" href="https://clindoeilbeaute.ca/"><link rel="stylesheet" media="screen" href="./assets/accelerated-checkout-backwards-compat.css"
    crossorigin="anonymous">
</head>
<body class="template-index header-sticky" data-enable-page-transitions="true" data-enable-reveal-animations="false"
  data-show-secondary-image-on-hover="true">
  <div class="page">

    <div class="" id="page-transition-overlay"></div>
    <script>
      var pageTransitionOverlay = document.getElementById("page-transition-overlay"),
        internalReferrer = document.referrer.includes(document.location.origin),
        winPerf = window.performance,
        navTypeLegacy = winPerf && winPerf.navigation && winPerf.navigation.type,
        navType = winPerf && winPerf.getEntriesByType && winPerf.getEntriesByType("navigation")[0] && winPerf.getEntriesByType("navigation")[0].type;

      if (!internalReferrer || navType !== "navigate" || navTypeLegacy !== 0) {

        pageTransitionOverlay.className = "active skip-animation";
        setTimeout(function () {
          pageTransitionOverlay.className = "skip-animation";
          setTimeout(function () { pageTransitionOverlay.className = ""; }, 1);
        }, 1);
      } else {
        setTimeout(function () {
          pageTransitionOverlay.className = "";
        }, 500);
      }
    </script>





    <div class="header__space" data-header-space=""></div>

    <!-- BEGIN sections: header-group -->
    <div id="shopify-section-sections--21965298041173__announcement-bar"
      class="shopify-section shopify-section-group-header-group announcement-bar__outer">
      <div class="
      announcement-bar
      announcement-bar--single-slide
      
    " data-section-id="sections--21965298041173__announcement-bar" data-section-type="announcement-bar"
        data-timing="3000">
        <div class="announcement-bar__item ff-body fs-body-x-small is-active is-selected" style="
          --color-background: #6E9B7C;
          --color-gradient-overlay: #6E9B7C;
          --color-gradient-overlay-transparent: rgba(196, 184, 107, 0);
          --color-text: #ffffff;
        " data-announcement="" data-index="0">
          <div class="announcement-bar__content-wrapper">
            <div class="announcement-bar__content"><span>
                <a class="announcement-bar__link color-inherit" href="./pages/notre-histoire">
                  Nous trouver
                </a>
              </span></div>
          </div>

          <div class="announcement-bar__gradient-gap"></div>
        </div>
      </div>
    </div>
    <div id="shopify-section-sections--21965298041173__header"
      class="shopify-section shopify-section-group-header-group header__outer-wrapper">
      
      <script>
        // Set heading height at component level
        const header = document.querySelector('.header__outer-wrapper');
        document.documentElement.style.setProperty('--height-header', header.offsetHeight + 'px');
      </script>
    </div>    
    {% include header.html %}
    
    <main id="main" class="main">
        {{ content }}
    </main>
    
    {% include footer.html %}
</body>
</html>